<%= turbo_frame_tag 'modal' do %>
  <%= render 'shared/modal' do %>
    <h2>Copy Menu</h2>

    <%= form_for(@client_menu,
        url: admin_client_menu_duplicates_path(@client_menu_to_copy),
        data: { turbo_frame: '_top' }
    ) do |f| %>
      <div class="form-item">
        <%= f.label :job_date, 'Prep Date', class: 'label' %>
        <%= f.text_field :job_date,
            class: 'datepicker input--text required'
        %>
      </div>

      <div class="form-item">
        <%= f.label :due_at, 'Due Date', class: 'label' %>
        <%= f.text_field :due_at,
            class: 'datepicker input--text required'
        %>
      </div>

      <div class="form-item">
        <%= f.label :client_id, 'Client', class: 'label' %>
        <%= f.select :client_id,
            @clients.map {|c| [c.full_name, c.id] },
            { include_blank: '-- No client --' },
            class: 'input--select'
        %>
      </div>

      <div class="form-item form-item--checkbox">
        <%= f.check_box :show_pricing %>
        <%= f.label :show_pricing, class: 'label' %>
      </div>

      <div class="form-actions">
        <button class="button button--submit">
          Submit
        </button>

        <button data-modal-close class="link">
          Cancel
        </button>
      </div>
    <% end %>

    <script>
      $('.datepicker').datepicker({
        dateFormat: 'm/d/yy'
      });

      $('.new_client_menu').validate();
    </script>
  <% end %>
<% end %>