<div class="w-full bg-[#fdf9ef]">
  <%= render 'layouts/header' %>

  <div class="px-5 pt-14 pb-14 md:pb-24 md:px-24 max-w-7xl mx-auto lg:grid grid-cols-2 gap-20 items-center">
    <div>
      <div class="mb-12 max-w-sm sm:max-w-xl">
        <h1 class="text-3xl font-heading tracking-tightx sm:leading-[52px] font-bold mb-2 sm:text-5xl">
          Helping Busy Families Eat Smart Meals
        </h1>

        <p class="max-w-lg">
          We are your go-to culinary service for in-home meal prep, private dinner parties, and popup lunch kits. Experience the joy of delicious food and create unforgettable moments with your loved ones.
        </p>
      </div>

      <div class="flex items-center gap-8">
        <a href="/contact" class="bg-black rounded-full py-2 px-5 text-white">
          Send a Message
        </a>

        <div>
          <div class="flex gap-1 mb-1">
            <%= image_tag 'star.svg', class: 'w-5' %>
            <%= image_tag 'star.svg', class: 'w-5' %>
            <%= image_tag 'star.svg', class: 'w-5' %>
            <%= image_tag 'star.svg', class: 'w-5' %>
            <%= image_tag 'star.svg', class: 'w-5' %>
          </div>

          <div class="text-xs text-center">
            50+ Happy Clients
          </div>
        </div>
      </div>
    </div>

    <div class="hidden lg:block">
      <%= image_tag 'hero.jpg', class: 'max-w-full' %>
    </div>
  </div>
</div>