<div class="admin-header">
  <h1>Instructions</h1>
  <p><%= link_to '+ Add Instruction', new_admin_instruction_path, class: 'button' %></p>
</div>

<div style="margin: 14px 0;">
  <input
    id="meal-search"
    type="text"
    placeholder="Start typing a meal..."
    class="input--select"
  >
</div>

<div class="rows">
  <% @meals.each do |meal| %>
    <div class="row" data-id="<%= meal.id %>">
      <div class="row__name">
        <%= link_to meal.name, edit_admin_instruction_path(meal) %>
      </div>
    </div>
  <% end %>

  <%= paginate @meals %>
</div>

<script>
  $('#meal-search').devbridgeAutocomplete({
    lookup: <%= raw @meals_lookup.to_json %>,
    triggerSelectOnValidInput: false,

    onSelect: function (suggestion) {
      window.location.href = `/admin/instructions/${suggestion.data}/edit`;
    }
  });
</script>