<div class="menu-header">
  <div class="menu-header__name">
    <%= @client_menu.client.full_name %>
  </div>
</div>

<% submission = @client_menu.client_menu_submission %>

<div class="submission">
  <div class="submission__header">
    <div class="submission__total">
      Total estimate: <strong>$<%= submission.total %></strong>
    </div>

    <div class="submission__date">
      Prep Date: <%= l(@client_menu.job_date, format: :date_only) %>
    </div>
  </div>

  <% submission.categories.each do |category| %>
    <div class="submission__category-group">
      <h2><%= category.name %></h2>

      <% submission.items(category).each do |item| %>
        <div class="submission__item">
          <div class="submission__item-name">
            <%= item.name %> <strong>$<%= item.cost %></strong>
          </div>

          <div class="submission__item-description">
            <%= item.description %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
