<h1><%= @client_menu.client.full_name %> <span>Meal Prep Menu</span></h1>

<div class="submission">
  <div class="submission__header">
    <% if @client_menu.show_pricing? %>
      <div class="submission__total">
        Total estimate: <strong>$<%= @submission.total %></strong>
      </div>
    <% end %>

    <div class="submission__date">
      Prep date: <%= l(@client_menu.job_date, format: :date_only) %>
    </div>
  </div>

  <% @submission.categories.each do |category| %>
    <div class="submission__category-group">
      <h2><%= category.name %></h2>

      <% @submission.items(category).each do |item| %>
        <div class="submission__item">
          <div class="submission__item-name">
            <%= item.name %>

            <% if @client_menu.show_pricing? %>
              <strong>$<%= item.cost %></strong>
            <% end %>
          </div>

          <div class="submission__item-description">
            <%= item.description %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @submission.notes? %>
    <div class="submission__notes">
      <div class="submission__notes-label">
        Notes
      </div>

      <div class="submission__notes-value">
        <%= simple_format(@submission.notes) %>
      </div>
    </div>
  <% end %>

  <%= render 'shared/staples_results',
      client_menu: @client_menu,
      submission: @submission
  %>
</div>
