<div class="client-menu">
  <header>
    <div class="client-menu__meta">
      <div class="client-menu__client-name">
        <%= @client.full_name %>
      </div>
      <div class="client-menu__due-at">
        Prep date: <%= l(@menu.job_date, format: :date_only) %>
      </div>
      <div class="client-menu__due-at">
        Submit by: <%= l(@menu.due_at, format: :date_only) %>
      </div>
    </div>

    <a href="/" class="logo">
      Lemon&amp;Basil
    </a>
  </header>

  <div class="content">
    <%= form_for(@client_menu_submission,
        url: client_menu_submissions_path,
        method: :post,
        data: {
          controller: 'client-menu',
          client_menu_url_value: update_totals_client_menu_submissions_path(client_menu_id: @menu.id)
        }
    ) do |f| %>
      <div class="client-menu__categories">
        <% @categories.each do |category| %>
          <div data-category-id="<%= category.id %>" class="client-menu__category-section">
            <div class="client-menu__category">
              <h2 class="client-menu__category-name">
                <%= category.name %>
              </h2>

              <div class="client-menu__category-description">
                <%= category.description %>
              </div>
            </div>

            <% category.client_menu_items.order(weight: :asc).each do |item| %>
              <div class="client-menu-item">
                <%= check_box_tag 'client_menu_submission[client_menu_item_ids][]',
                    item.id,
                    @client_menu_submission.client_menu_items.include?(item),
                    id: "item-#{item.id}",
                    data: {
                      action: 'client-menu#toggle'
                    }
                %>

                <div class="client-menu-item__section">
                  <div class="client-menu-item__row">
                    <label class="client-menu-item__label" for="item-<%= item.id %>">
                      <%= item.name %>
                    </label>

                    <% if @menu.show_pricing? %>
                      <div class="client-menu-item__cost">
                        $<%= item.cost %>
                      </div>
                    <% end %>

                  </div>
                  <div class="client-menu-item__row">
                    <div class="client-menu-item__description">
                      <%= item.description %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        <% end %>
      </div>

      <div class="client-menu__notes">
        <%= f.label :notes, class: 'client-menu__notes-label' %>
        <%= f.text_area :notes, class: 'input--textarea' %>
      </div>

      <div class="client-menu-actions">
        <div class="client-menu-actions__inner" id="footer">
          <%= render 'footer',
              client_menu_submission: @client_menu_submission,
              client_menu: @menu
          %>
        </div>
      </div>

      <%= hidden_field_tag :client_menu_id, @menu.id %>
    <% end %>
  </div>
</div>