<h1>New Job Application</h1>

<p>Date: <%= @job_application.created_at.strftime("%m/%d/%Y %l:%M%P").squish %></p>
<p>Name: <%= @job_application.name %></p>
<p>Email: <%= @job_application.email %></p>
<p>Phone: <%= @job_application.phone %></p>
<p>Position: <%= @job_application.position %></p>
<p>Message: <%= @job_application.message %></p>
