<h1>New Contact</h1>

<p>Date: <%= @contact.created_at.strftime("%m/%d/%Y %l:%M%P").squish %></p>
<p>Name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Neighborhood: <%= @contact.neighborhood %></p>
<p>Event Date: <%= @contact.event_date %></p>
<p>Message: <%= @contact.message %></p>
