<div class="page page--contact">
  <div class="primary">
    <h1>waitlist apply</h1>

    <%= form_for(@waitlist, url: waitlist_path, html: { class: 'contact-form', data: { turbo: true } }) do |f| %>
      <div class="contact-form-item">
        <%= f.label :name, 'name', class: 'job-apply-label' %>
        <%= f.text_field :name, class: 'job-apply-input--text required' %>
      </div>

      <div class="contact-form-item">
        <%= f.label :email, 'email', class: 'job-apply-label' %>
        <%= f.text_field :email, class: 'job-apply-input--text required' %>
      </div>

      <div class="contact-form-item">
        <%= f.label :neighborhood, 'neighborhood', class: 'job-apply-label' %>
        <%= f.text_field :neighborhood, class: 'job-apply-input--text required' %>
      </div>

      <div class="contact-form-item">
        <%= f.label :start_date, 'start date', class: 'job-apply-label' %>
        <%= f.select :start_date, [
          ['Summer 2025 (begins in June)', 'Summer 2025'],
          ['Fall 2025 (begins in September)', 'Fall 2025']
          ],
          { prompt: '-- select --' },
          class: 'job-apply-select required'
        %>
      </div>

      <div class="contact-form-item">
        <%= f.label :message, 'message', class: 'job-apply-label' %>
        <%= f.text_area :message, class: 'job-apply-textarea required' %>
      </div>

      <div class="contact-form-item">
        <%= f.submit 'Submit', class: 'contact-button' %>
      </div>
    <% end %>
  </div>

  <div class="secondary">
    <div class="page-image page-image-waitlist-apply"></div>
  </div>
</div>

<script type="text/javascript">
  $('.contact-form').validate({
    submitHandler(form, event) {
      $('[type="submit"]').prop('disabled', true);

      form.submit();
    }
  });
</script>
