<div class="admin-header">
  <h1>Menu Categories</h1>
  <p><%= link_to 'Add Category', new_admin_category_path, class: 'button' %></p>
</div>

<div class="sort-status"></div>

<div class="rows">
  <% @categories.each do |category| %>
  <div class="row" data-id="<%= category.id %>">
    <div class="row__section">
      <div class="row__move move"></div>

      <div class="row__name">
        <%= link_to category.name, edit_admin_category_path(category) %>
      </div>
    </div>

    <div class="row__section">
      <div class="row__items">
        <%= link_to 'Menu Items', admin_category_path(category) %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.rows').sortable({
    axis: 'y',
    handle: '.move',

    update(event) {
      const weights = {};

      $('.row').each(function(index, el) {
        const id = $(el).data('id');
        weights[id] = index;
      });

      const data = { weights: weights };

      $('.sort-status').html('Saving...');

      fetch('/api/categories/weights', {
        method: 'POST',
        headers: {
          'Authorization': `Bearer <%= @token %>`,
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then((response) => {
        $('.sort-status').html('Saved!');

        setTimeout(() => {
          $('.sort-status').html('');
        }, 1000);
      })
    }
  });
</script>
