<div class="admin-header">
  <h1>Menu Categories</h1>
  <p><%= link_to '+ Add Category', new_admin_category_path, class: 'link--control' %></p>
</div>

<div class="categories">
  <% @categories.each do |category| %>
  <div class="category" data-id="<%= category.id %>">
    <div class="category__section">
      <div class="category__move move"></div>

      <div class="category__name">
        <%= link_to category.name, edit_admin_category_path(category) %>
      </div>
    </div>

    <div class="category__section">
      <div class="category__items">
        <%= link_to 'Menu Items', admin_category_path(category) %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.categories').sortable({
    axis: 'y',
    handle: '.move',

    update(event) {
      const weights = {};

      $('.category').each(function(index, el) {
        const id = $(el).data('id');
        weights[id] = index;
      });

      const data = { weights: weights };

      fetch('/api/categories/weights', {
        method: 'POST',
        headers: {
          'Authorization': `Bearer <%= @token %>`,
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then((response) => {
        console.log('cool!');
      })
    }
  });
</script>
