<%= form_for([:admin, @client_menu], data: { turbo_frame: turbo_frame }) do |f| %>
  <div class="form-item">
    <%= f.label :title, 'Title', class: 'label' %>
    <%= f.text_field :title,
        class: 'input--text'
    %>
  </div>

  <div class="form-item">
    <%= f.label :job_date, 'Prep Date', class: 'label' %>
    <%= f.text_field :job_date,
        class: 'datepicker input--text',
        value: @client_menu.job_date&.strftime('%-m/%-d/%Y')
    %>
  </div>

  <div class="form-item">
    <%= f.label :due_at, 'Due Date', class: 'label' %>
    <%= f.text_field :due_at,
        class: 'datepicker input--text',
        value: @client_menu.due_at&.strftime('%-m/%-d/%Y')
    %>
  </div>

  <div class="form-item">
    <%= f.label :client_id, 'Client', class: 'label' %>
    <%= f.select :client_id,
        @clients.map {|c| [c.full_name, c.id] },
        { include_blank: '-- No client --' },
        class: 'input--select'
    %>
  </div>

  <div class="form-item form-item--checkbox">
    <%= f.check_box :show_pricing %>
    <%= f.label :show_pricing, class: 'label' %>
  </div>

  <div class="form-item form-item--checkbox">
    <%= f.check_box :staples_enabled %>
    <%= f.label :staples_enabled, class: 'label' %>
  </div>

  <% if current_user.admin? %>
  <div class="form-item form-item--checkbox">
    <%= f.check_box :is_kat %>
    <%= f.label :is_kat, 'Add Kat', class: 'label' %>
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Save', class: 'button button--submit' %>

    <button data-modal-close class="link">
      Cancel
    </button>

    <% if @client_menu.persisted? %>
      <%= link_to 'Delete',
          admin_client_menu_path(@client_menu),
          class: 'link link--danger',
          data: {
            confirm: 'Are you sure?',
            turbo_method: :delete,
            turbo_frame: '_top'
          }
      %>
    <% end %>
  </div>
<% end %>

<script>
  $('.datepicker').datepicker({
    dateFormat: 'm/d/yy'
  });

  $('.edit_client_menu, .new_client_menu').validate();
</script>
