<div id="<%= dom_id(category) %>_list">
  <div class="sortable-list">
    <% items.each do |item| %>
      <div class="sortable-item menu-item" data-menu-item-id="<%= item.id %>">
        <div class="sortable-item__move">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <%= render 'admin/client_menus/menu_item',
            item: item,
            client_menu: client_menu
        %>
      </div>
    <% end %>
  </div>

  <script>
    (function() {
      const url = '<%= admin_client_menu_update_menu_item_weights_path(client_menu) %>';
      const $list = $("#<%= dom_id(category) %>_list .sortable-list");

      $list.sortable({
        handle: '.sortable-item__move',

        update: function() {
          const weights = $list.find('[data-menu-item-id]').map(function() {
            return $(this).data('menu-item-id');
          }).get();

          $.ajax({
            url: url,
            method: 'POST',
            data: { weights: weights }
          });
        }
      })
    })();
  </script>
</div>
