<div class="menu-header">
  <div class="menu-header__name">
    <%= @client.full_name %>
  </div>

  <div class="menu-header__date">
    <%= l(@client_menu.job_date, format: :full_month) %>
  </div>

  <div class="menu-header__nav hamburger-nav">
    <button class="hamburger-nav__control">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="hamburger-nav__body" style="display: none;">
      <%= link_to 'Edit', edit_admin_client_menu_path(@client_menu) %>
      <%= link_to 'Copy Menu', '', data: { modal_open: 'duplicate_client_menu' } %>
      <%= link_to 'Public View', menu_slug_path(@client_menu.slug), target: '_blank' %>
      <%= link_to 'Send to Client',
          admin_client_menu_send_to_client_path(@client_menu),
          data: { confirm: "Are you sure? This menu will be sent to #{@client_menu.client.email}" }
      %>
    </div>
  </div>
</div>

<div class="menu-nav">
  <div class="menu-nav__section">
    <%= active_link_to 'Categories', admin_client_menu_categories_path(@client_menu) %>
    <%= active_link_to 'Menu Items', admin_client_menu_menu_items_path(@client_menu) %>
  </div>

  <div class="menu-nav__section">
    <%= active_link_to 'Results', admin_client_menu_results_path(@client_menu) %>
  </div>
</div>

<div class="menu-body">
  <% if @categories.empty? %>

    <div class="empty">
      <div class="empty__text">
        No categories. Add one now!
      </div>

      <div class="empty__control">
        <button class="button button--light" @click="clickAdd">+ Add Category</button>
      </div>
    </div>

  <% else %>

    <div class="categories-list">
      <%= render 'categories_list',
          categories: @categories,
          client_menu: @client_menu
      %>

      <%= link_to '+ Add Category',
          new_admin_client_menu_category_path(@client_menu),
          class: 'button button--light',
          data: { turbo_frame: 'modal' }
      %>
    </div>

  <% end %>
</div>

<div class="modal" data-modal-id="duplicate_client_menu" style="display: none;">
  <div class="modal__overlay" data-modal-overlay></div>
  <div class="modal__body">
    <h2>Copy Menu</h2>
    <p>Add the prep date and due date for the new menu :)</p>

    <%= form_for(@new_client_menu, url: admin_client_menu_duplicate_path(@client_menu)) do |f| %>
      <div class="form-item">
        <%= f.label :job_date, 'Prep Date', class: 'label' %>
        <%= f.text_field :job_date,
            class: 'datepicker input--text'
        %>
      </div>

      <div class="form-item">
        <%= f.label :due_at, 'Due Date', class: 'label' %>
        <%= f.text_field :due_at,
            class: 'datepicker input--text'
        %>
      </div>

      <div class="form-item">
        <%= f.label :client_id, 'Client', class: 'label' %>
        <%= f.select :client_id,
            @clients.map {|c| [c.full_name, c.id] },
            { prompt: '-- Select --' },
            class: 'input--select'
        %>
      </div>

      <div class="form-item form-item--checkbox">
        <%= f.check_box :show_pricing %>
        <%= f.label :show_pricing, class: 'label' %>
      </div>

      <div class="form-actions">
        <button class="button button--submit">
          Submit
        </button>

        <button data-modal-close class="link">
          Cancel
        </button>
      </div>
    <% end %>
  </div>
</div>
