<%= javascript_pack_tag 'client_menu_categories' %>

<div id="client-menu-categories-app">
  <client-menu-categories-app
    active-page="<%= @active_page %>"
    v-bind:clients="<%= @clients.to_json %>"
    menu-id="<%= @client_menu_id %>"
    token="<%= @token %>"
  ></client-menu-categories-app>
</div>
