<%= javascript_pack_tag 'admin/client_menu' %>

<div id="client-menu-app">
  <client-menu-app></client-menu-app>
</div>


<div class="admin-header">
  <h1>Edit Client Menu</h1>
</div>

<%= form_for(@client_menu, url: admin_client_menu_path) do |f| %>
  <div class="form-item">
    <%= f.label :client_id, class: 'label' %>
    <%= f.select :client_id,
        Client.all.order(last_name: :asc).collect { |client| [client.full_name, client.id]},
        { prompt: '- Select -' },
        class: 'input--select'
    %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit', class: 'button' %>
    <%= link_to 'Cancel', admin_client_menus_path %>
    <%= link_to 'Delete', admin_client_menu_path(@client_menu), method: :delete, data: { confirm: 'Are you sure?' }, class: 'link--danger' %>
  </div>
<% end %>
