<%= render 'admin/client_menus/show/header' %>
<%= render 'admin/client_menus/show/nav' %>

<div class="menu-body">
  <% @categories.each do |category| %>
    <div class="menu-item-category" id="<%= dom_id(category) %>">
      <div class="menu-item-category__header">
        <h2><%= category.name %></h2>

        <%= link_to '+ Add Item',
            new_admin_client_menu_item_path(client_menu_category_id: category.id),
            class: 'button',
            data: {
              turbo_frame: 'modal'
            }
        %>
      </div>

      <%= render 'menu_items_list',
          items: category.client_menu_items.order(:weight),
          category: category,
          client_menu: @client_menu
      %>
    </div>
  <% end %>
</div>