<%= javascript_pack_tag 'admin/client_menu_results' %>

<div id="client-menu-results-app">
  <client-menu-results-app
    active-page="<%= @active_page %>"
    v-bind:clients="<%= @clients.to_json %>"
    menu-id="<%= @client_menu_id %>"
    token="<%= @token %>"
  ></client-menu-categories-app>
</div>
