<%= render 'header', client_menu: @client_menu %>

<div class="menu-nav">
  <div class="menu-nav__section">
    <%= active_link_to 'Categories', admin_client_menu_categories_path(@client_menu) %>
    <%= active_link_to 'Menu Items', admin_client_menu_menu_items_path(@client_menu) %>
  </div>

  <div class="menu-nav__section">
    <%= active_link_to 'Results', admin_client_menu_results_path(@client_menu) %>
  </div>
</div>

<div class="menu-body">
  <% if @client_menu.newest_submission.present? %>
    <%= render 'submission',
        client_menu: @client_menu,
        submission: @client_menu.newest_submission
    %>
  <% else %>
    <div class="empty">
      <div class="empty__text">
        The client has not made selections yet.
      </div>
    </div>
  <% end %>
</div>
