<div class="menu-header">
  <% if @client_menu.title.present? %>
    <div class="menu-header__name">
      <%= @client_menu.title %>
    </div>

    <div class="menu-header__date">
      <%= @client.try(:full_name) || 'NO CLIENT' %>
    </div>
  <% else %>
    <div class="menu-header__name">
      <%= @client.try(:full_name) || 'NO CLIENT' %>
    </div>
  <% end %>

  <% if @client_menu.job_date.present? %>
    <div class="menu-header__date" id="client_menu_header_job_date">
      Prep date: <%= l(@client_menu.job_date, format: :full_month) %>
    </div>
  <% end %>

  <% if @client_menu.allergies.present? %>
    <div class="menu-header__allergies">
      Allergies: <%= @client_menu.allergies %>
    </div>
  <% end %>

  <% if @client_menu_mailer_log.present? %>
    <style>
      .pill-label {
        background: #666;
        color: #fff;
        font-size: 14px;
        padding: 8px 10px;
        display: inline-block;
        border-radius: 5px;
        font-weight: 300;
        gap: 5px;
      }
    </style>

    <div class="pill-label" style="margin-top: 10px;">
      <div style="margin-bottom: 2px;">Sent: <%= l(@client_menu_mailer_log.sent_at, format: :full_month) %></div>
      <div>To: <%= @client_menu_mailer_log.email %></div>
    </div>
  <% end %>

  <div class="menu-header__nav hamburger-nav">
    <button class="hamburger-nav__control">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="hamburger-nav__body" style="display: none;">
      <%= link_to 'Edit',
          edit_admin_client_menu_path(@client_menu),
          data: { turbo_frame: 'modal' }
      %>

      <%= link_to 'Copy Menu',
          new_admin_client_menu_duplicate_path(@client_menu),
          data: { turbo_frame: 'modal' }
      %>

      <% if current_user.admin? && @client.nil? %>
        <%= link_to 'Share Menu',
            new_admin_client_menu_share_path(@client_menu),
            data: { turbo_frame: 'modal' }
        %>
      <% end %>

      <%= link_to 'Public View',
          menu_slug_path(@client_menu.slug),
          target: '_blank'
      %>

      <% if @client.present? %>
        <%= link_to 'Send to Client',
            admin_client_menu_send_to_client_path(@client_menu),
            data: { confirm: "Are you sure? This menu will be sent to #{@client_menu.client.email}" }
        %>
      <% end %>
    </div>
  </div>
</div>
