<div class="page page--contact">
  <div class="primary">
    <h1>Get in touch with me</h1>

    <%= form_for(@contact, url: contact_path, html: { class: 'contact-form', data: { turbo: true } }) do |f| %>
      <div class="contact-form-group">
        <div class="contact-form-item">
          <%= f.text_field :name, class: 'contact-input--text required', placeholder: 'Your name' %>
        </div>

        <div class="contact-form-item">
          <%= f.email_field :email, class: 'contact-input--text required', placeholder: 'Your email' %>
        </div>
      </div>

      <div class="contact-form-item">
        <%= f.text_field :neighborhood, class: 'contact-textarea required', placeholder: 'Your neighborhood' %>
      </div>

      <div class="contact-form-item">
        <%= f.text_area :message, class: 'contact-textarea required', placeholder: 'Your message' %>
      </div>

      <div class="contact-form-item">
        <%= recaptcha_tags callback: 'recaptchaCallback' %>
        <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
      </div>

      <div class="contact-form-item">
        <%= f.submit 'Get in touch', class: 'contact-button' %>
      </div>
    <% end %>
  </div>

  <div class="secondary">
    <div class="page-image page-image-contact"></div>
  </div>
</div>

<script type="text/javascript">
  $('.contact-form').validate({
    ignore: ".ignore",
    rules: {
      hiddenRecaptcha: {
        required: function () {
          if (grecaptcha.getResponse() == '') {
            return true;
          } else {
            return false;
          }
        }
      }
    },

    submitHandler(form, event) {
      $('[type="submit"]').prop('disabled', true);

      form.submit();
    }
  });

  function recaptchaCallback() {
    $('#hiddenRecaptcha').valid();
  };
</script>
