<div class="submission__item" data-item-id="<%= item.id %>">
  <div>
    <span><%= item.name %> <strong>$<%= item.cost %></strong></span>

    <a href="<%= edit_admin_client_menu_selection_path(selection.id) %>" up-follow up-target=".submission__item">
      Edit instruction
    </a>
  </div>

  <% if selection.instruction.present? %>
    <%= selection.instruction.text %>
  <% end %>
</div>
