<div class="submission__item">
  <% item = @client_menu_selection.client_menu_item %>
  <div>
    <span><%= item.name %> <strong>$<%= item.cost %></strong></span>
  </div>

  <div class="instruction-form">
    <%= form_for(@client_menu_selection,
        url: admin_client_menu_selection_path(@client_menu_selection),
        html: {
          'up-target' => '.submission__item',
          'up-history' => 'false'
        }
    ) do |f| %>
      <%= f.fields_for :instruction, @instruction do |ff| %>
        <%= ff.text_area :text, class: 'input--textarea my-5' %>
      <% end %>

      <%= f.submit 'Save', class: 'button' %>

      <%= link_to 'Cancel',
          admin_client_menu_selection_path(@client_menu_selection),
          class: 'text-sm',
          'up-target' => '.submission__item'
      %>
    <% end %>
  </div>
</div>