<!DOCTYPE html>
<html>
  <head>
    <title>Lemon&Basil Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.11/jquery.autocomplete.min.js" integrity="sha512-uxCwHf1pRwBJvURAMD/Gg0Kz2F2BymQyXDlTqnayuRyBFE7cisFCh2dSb1HIumZCRHuZikgeqXm8ruUoaxk5tA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

    <%= favicon_link_tag asset_path('lemon.png') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>

  <body class="admin">
    <aside class="sidebar">
      <a href="/" class="logo">
        <div>
          Lemon&amp;Basil <span>admin</span>
        </div>
      </a>

      <label class="sidebar__control" for="sidebar_menu"></label>
      <input type="checkbox" id="sidebar_menu">

      <nav>
        <ul>
          <li><%= active_link_to 'Clients', admin_clients_path %></li>
          <li><%= active_link_to 'Client Menus', admin_client_menus_path %></li>
          <li><%= active_link_to 'Instructions', admin_instructions_path %></li>

          <br><br><br><br>

          <li><%= link_to 'Logout', destroy_user_session_path %></li>
        </ul>
      </nav>
    </aside>

    <main>
      <div class="content">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>

      <div class="loading" style="display: none;">
        <span>Loading...</span>
      </div>
    </main>

    <%= turbo_frame_tag 'modal' %>
  </body>
</html>
