<!DOCTYPE html>
<html>
  <head>
    <title>Lemon&Basil Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <%= favicon_link_tag asset_path('lemon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>

  <body class="admin">
    <main>
      <header>
        <a href="/" class="logo">
          <span>Lemon&Basil <strong>Admin</strong></span>
        </a>

        <input type="checkbox" id="nav-input" class="nav-input">
        <label for="nav-input" class="nav-toggle">
          <span></span>
        </label>

        <nav>
          <ul>
            <li><%= active_link_to 'Pages', admin_pages_path %></li>
            <li><%= active_link_to 'Calendar', admin_calendar_path %></li>
            <li><%= active_link_to 'Menus', admin_categories_path %></li>
            <li><%= active_link_to 'Clients', admin_clients_path %></li>
            <li><%= active_link_to 'Client Menus', admin_client_menus_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path %></li>
          </ul>
        </nav>
      </header>

      <div class="content">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>

      <div class="loading" style="display: none;">
        <span>Loading...</span>
      </div>
    </main>
  </body>
</html>
