<!DOCTYPE html>
<html>
  <head>
    <title>Lemon&Basil</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <%= favicon_link_tag asset_path('lemon.png') %>
    <%= stylesheet_link_tag 'minimal', media: 'all' %>
    <%= javascript_include_tag 'minimal' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>

    <%= render 'layouts/analytics' %>
  </body>
</html>
